

h1{
   color: #673AB7;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



input {
   padding: 3px; 
   border-radius: 5px;
}



.playbutton{
   width: 30%;
}


.card-body{
   background-color:antiquewhite;
   padding: 15px;
   border-radius: 10px;
   }